@charset "UTF-8";

@media (min-width: 768px) {

    section#introduction {
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    article {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 60px;
        align-items: center;
        align-content: center;
        margin-bottom: 30px;
    }

    
    div#benefits {
        max-width: 700px;
    
    }
    
    div#classroom {
        min-width: 300px;
        
    }
    
    div#classroom > p {
        margin-bottom: 20px;
    }


    div.base_class {
        padding: 20px;
        display: flex;
        min-width: 80%;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        column-gap: 23px;
    }

    div.base_class>img {
        display: inline;
        max-width: 400px;
        min-width: 250px;
        border-radius: 30px;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.500);
    }

    div.base_class>p{
        min-width: 250px;
        max-width: 600px;
    }

    div.amansamento {
        flex-direction: row;
    }

    div.vertical {
        flex-direction: row-reverse;
    }

    div.punho {
        flex-direction: row;
    }

    div.rapinantes {
        flex-direction: row-reverse;
    }
    div.mais {
        flex-direction: column;
    }

    section#about {
        height: 600px;
        column-gap: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }

    div#others > p {
        max-width: 700px;
    }

    div.modules > p {
        width: 700px;
    }

    div.modules > h2 {
        text-decoration: underline;
        margin-bottom: 20px;
    }

    ul.list {
        max-width: 750px; 
        display: block;
    }

    ul.list>li {
        display: inline;
        float: left;
        min-width: 350px;
        max-width: 750px;
        height: 50px;
        border-bottom: 1px solid var(--colormediumligth);
        text-align: center;
        font-size: .9em;
    }      


    div#form > p {
        max-width: 700px;
    }
    
    div#form > form {
        max-width: 600px;
        gap: 15px;
    }
    
    form > input {
        min-width: 300px;    
    }
    
}

@media (min-width: 992px) {
    div#others > p {
    max-width: 800px;
 }
}