@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

:root{
    --colorprimary: #9E4E1D;
    --colorsecondary: #EB742A;
    --colortertiary: #5E2F11;
    --colormediumligth: #AB541F;
    --colormediumdark: #854218;
}

*{
    margin: 0px;
    padding: 0px;

}

body {
    background-color: white;

}

header {
    height: 100px;
    border-bottom: 1px solid rgb(255, 255, 255) ;
    margin: auto;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div#modern-times {
    background-color: var(--colortertiary);
    width: 100vw;
    border-top: 1px solid var(--colorsecondary) ;
    border-bottom: 1px solid var(--colorsecondary) ;

}

div#modern-times > h1 {
    font-family: 'Kalam';
    font-size: 2.5em;
    text-shadow:  2px 2px 7px rgb(0, 0, 0);
    color: white;
    text-align: center;
}



section#introduction {
    font-family: 'Comfortaa';
    padding: 20px;    
    background: linear-gradient(rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.800)), url(../imgens/coruja.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: white;
    border-bottom: 1px solid var(--colorsecondary) ;
}

div#benefits, div#classroom, div#networking {
    width: 80vw;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 30px;

}

div#benefits > p {
    margin-bottom: 30px;
}

div#classroom {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 30px;
    
}

div#classroom > p {
    margin-bottom: 30px;
}

div#classroom > ul {
    list-style-position: inside;

}

div#classroom > ul > li{
    margin-bottom: 10px;
}



section#skills{
    font-family: 'Comfortaa';
    box-shadow: inset 0px 2px 8px rgb(0, 0, 0);
}

div#techniques {
    padding: 20px;
    background-color: var(--colortertiary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    margin: auto;
    box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
    font-family: 'Comfortaa';
    text-align: center;

}

div#techniques > div {
    text-align: center;
    padding: 30px;
    width: 280px;
    margin: auto;
    text-shadow:  2px 2px 7px rgb(0, 0, 0);

}

div.base_class > img {
    display: none;
}

section#about {
    font-family: 'Comfortaa';
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400)), url(../imgens/aguia.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-top: 1px solid var(--colorsecondary) ;

}

div#others > h2 {
    padding: 20px;
    margin: auto;
    text-align: center;

}

div#others > p {
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 30px;

}


section#content{
    font-family: 'Comfortaa';
    box-shadow: inset 0px 2px 8px rgb(0, 0, 0);
}

div.modules {
    padding: 20px;
    background-color: var(--colortertiary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: auto;
    box-shadow: inset 0px 0px 20px rgb(0, 0, 0);
    font-family: 'Comfortaa';

}

div.modules > p {
    line-height: 1.5em;
    width: 80%;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}

div.modules > h2 {
    padding: 10px;
    margin: auto;
    text-align: center;

}

div.modules > ul {
    list-style-position: inside;
    line-height: 2.5em;
    margin-bottom: 30px;
    list-style-type: none;
}



section#formulario {
    font-family: 'Comfortaa';

}

div#form {
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.479)), url(../imgens/penas.jpg) no-repeat;
    border-top: 1px solid var(--colorsecondary);
    background-size: cover;
    background-position: center bottom;
    box-shadow: inset 0px 0px 20px rgb(0, 0, 0);

}

div#form > p{
    color: white;
    width: 80vw;
    margin: auto;
    padding: 30px;
    line-height: 1.5em;
    text-align: justify;

}

div#form > form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: auto;
    align-content: center;
    gap: 10px;

}

form > input {
    height: 40px;
    width: 40vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid var(--colorsecondary);
    border-radius: 5px;
    margin: auto;
    text-align: center;    

}

input#submit {
    background-color: var(--colorsecondary);
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
}


footer {
    text-align: center;
    background-color: black;
    padding: 5px;
    border-top: 1px solid var(--colorsecondary);
    color: white;
}
